html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  bottom:0px;
  height: 100vh;
  left: 340px;
  position: absolute;
  right: 0px;
}

.infoWindowTitle {
  font-size: 1.5em;
}

.infoWindowContent {
  font-size: 1.2em;
}

#sideBar {
  background: #fff;
  height: 100%;
  line-height: 35px;
  padding: 10px 10px 30px 10px;
  text-align: left;
  width: 340px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 1.2em;
}
