html, body {
  color: #ccc;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #333;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 0 0 10px;
}

#map {
  width: 100vw;
  height: 450px;
  margin: 0;
  padding: 0;
}

.infoWindowTitle,
.infoWindowContent {
  color: #000;
}

.infoWindowTitle {
  font-size: 1.5em;
}

.infoWindowContent {
  font-size: 1.2em;
}

#sideBar {
  line-height: 35px;
  /* padding-left: 10px; */
  text-align: left;
  width: 100%;
}

label {
  padding: 0 0 0 10px;
}

#flexContainer {
  margin: 0;
  padding: 0;
}

section {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0 0 0 10px;
}

li {
  font-size: 1.2em;
}

li:hover {
  cursor: pointer;
}

/* -- responsive -- */

@media screen and (min-width: 500px) {
  h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  #map {
    height: 450px;
  }
}

@media screen and (min-width: 800px) {
  h1 {
    margin-top: 20px;
  }
  #map {
    height: 525px;
  }
  #sideBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    height: 150px;
  }
  #filterMenu {
    margin-top: 30px;
    width: 200px;
  }
  label {
    margin: 20px 0;
  }
}
